<ActionBar title="Kitten List" class="action-bar"></ActionBar>

<StackLayout>

<!--    <Label text="Hello World!"></Label>-->
    <ListView [items]="kitten$ | async" class="list-group" height="100%">
        <ng-template let-item="item">
            <GridLayout columns="*, auto" , rows="*, *">
                <Label col="0" row="0" [text]="item.name" class="list-group-item"></Label>
                <Label col="0" row="1" [text]="item.symbol" class="list-group-item"></Label>
                <Label col="1" row="0" [text]="item.origin" class="list-group-item"></Label>
                <Label col="1" row="1" [text]="item.price_usd | currency:'USD':'$'" class="list-group-item"></Label>
            </GridLayout>
<!--            <app-kitten-item [kitten]="item"></app-kitten-item>-->
        </ng-template>
    </ListView>
</StackLayout>
